.input-search {
  border: 1px solid var(--clr-neutral-100);
  border-radius: 8px;
  padding: 12px 16px;

  margin-right: auto;
  width: 100%;
  max-width: 400px;
  background-color: var(--clr-bg-400);
  color: var(--clr-text-100);
  display: flex;
}

.input-search input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: var(--clr-text-100);
}

.search-icon {
  color: var(--clr-neutral-100);

  transition: all 150ms ease;
}

.input-search:focus-within {
  border: 1px solid var(--clr-text-100);
}

.input-search:focus-within .search-icon {
  color: var(--clr-text-100);
}
